{% for post in posts %}
<article class="card-row">
  <div class=card">
    <a class="mr-2" href="{{ url_for('main.user', username=post.author.username) }}">
      <img class="profile-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"><br>
    </a>
    <small>{{ post.category.name }}</small>
    <a class="mr-2 text-xl" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
    <small>{{ moment(post.timestamp).format("L") }}</small>
    {% if current_user == post.author %}
    <a class="button" href="{{ url_for('posts.update_post', id=post.id) }}">Update</a>
    <button type="button" class="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
    {% endif %}
    <a class="button" href="{{ url_for('posts.post', id=post.id) }}#comments">{{ post.comments.count() }} Comments</a>
    <p>
    <h1><a href="{{ url_for('posts.post', id=post.id) }}">{{ post.title }}</a></h1>
      {% if post.body_html %}
        {{ post.body_html | safe}}
      {% else %}
        {{ post.body }}
      {% endif %}
    </p>
  </div>  
</article>
{% endfor %}
