{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <div class="content">
        <h1 class="title">
            About me
        </h1>
      <p class="article-content">
        Hi, I am <b>commandreverse</b>, a business engineer turned developer and netsec enthousiast.
        In most of my sparetime I am learning new tools of the trade or obtaining new knowledge on subject that I am not familiar with.
      </p>
      <p>As you can see in the sidebar there are a few topics I am interested in and will be writing about.
          As for now I do not have the audacity to say that I am an expert on any of these subjects but whatever little knowledge I have,
          I am willing to share. Pay it forward so to speak.
      </p>
      <p>
          This website is still a bit under construction, so not every part is working right now. 
          I am doing my best to get it done as soon as possible.
      </p>
      <p>
          If you are interested in reading the articles, great! If you have any concerns, see mistakes or just willing to have a chat.
          You can email me <a href="mailto:commandreverse@gmail.com">commandreverse@gmail.com</a>
      </p>
    </div>  
</div>
{% endblock content %}
