<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!--
          Including the initialization of the different extentions
        -->
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ pagedown.html_head() }}
        
        {% if title %}
            <title>Revert - {{ title }}</title>
        {% else %}
            <title>Revert</title>
        {% endif %}
    </head>
    <body>
      <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="/">Revert</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
              <div class="navbar-nav mr-auto">
                  <a class="nav-item nav-link" href="{{ url_for('main.index') }}">Home</a>
                  <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
              </div>
              <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                  {% if current_user.can(Permission.WRITE) %}
                    <a class="nav-item nav-link" href="{{ url_for('posts.write_post') }}">New Post</a>
                  {% endif %}
                  {% if current_user.can(Permission.MODERATE) %}
                  <a class="nav-item nav-link" href="{{ url_for('main.moderate') }}">Moderate Comments</a>
                  {% endif %}
                  <a class="nav-item nav-link" href="{{ url_for('auth.change_password') }}">Change Password</a>
                  <a class="nav-item nav-link" href="{{ url_for('auth.change_email_request') }}">Change Email</a>
                  <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                  <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                {{ message }}
              </div>
              {% endfor %}
              {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Pick a category</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Algorithms') }}">Algorithms</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='C') }}">C</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Data Engineering') }}">Data Engineering</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Electronics') }}">Electronics</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='IoT') }}">IoT</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Linux') }}">Linux</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Math') }}">Math</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Micropython') }}">Micropython</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Netsec') }}">Netsec</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Python') }}">Python</a>
                </ul>
              </p>
            </div>
          </div>
          {% block scripts %}
          {{ moment.include_moment() }}
          {% endblock %}
        </div>
      </main>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
