<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!--
          Including the initialization of the different extentions
        -->
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        
        {% if title %}
            <title>Revert - {{ title }}</title>
        {% else %}
            <title>Revert</title>
        {% endif %}
    </head>
    <body>
      <header>
        <ul class=navbar>
          <li><a class="nav-item" href="{{ url_for('main.index') }}">Home</a></li>
          <li><a class="nav-item" href="{{ url_for('main.about') }}">About</a></li>
          {% if current_user.is_authenticated %}
            <li><a class="nav-item" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
          {% if current_user.can(Permission.WRITE) %}
            <li><a class="nav-item" href="{{ url_for('posts.write_post') }}">New Post</a></li>
          {% endif %}
          {% if current_user.can(Permission.MODERATE) %}
            <li><a class="nav-item" href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
          {% endif %}
          <li><a class="nav-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
          <li><a class="nav-item" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
          <li><a class="nav-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% else %}
            <li><a class="nav-item" href="{{ url_for('auth.login') }}">Log In</a></li>
            <li><a class="nav-item" href="{{ url_for('auth.register') }}">Register</a></li>
          {% endif %}
        </ul>
      </header>
      <main role="main" class="main">
        <div class="">
          <div class="col-4">

          </div>
          <div class="col-8 container">
              {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                {{ message }}
              </div>
              {% endfor %}
              {% block content %}{% endblock %}
          </div>
          <div class="col-12">
            <div class="container">
              <h3>Pick a category</h3>
              <p class='text-muted'>It will shows every post with that subject
                <ul class="list-group">
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Algorithms') }}">Algorithms</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='C') }}">C</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Data Engineering') }}">Data Engineering</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Electronics') }}">Electronics</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='IoT') }}">IoT</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Linux') }}">Linux</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Math') }}">Math</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Micropython') }}">Micropython</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Netsec') }}">Netsec</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Python') }}">Python</a>
                  <a class="list-group-item list-group-item-light" href="{{ url_for('categories.filter_on_category', category='Webdevelopment') }}">Webdevelopment</a>
                </ul>
              </p>
            </div>
          </div>
          {% block scripts %}
          {{ moment.include_moment() }}
          {% endblock %}
        </div>
      </main>
    </body>
</html>
