body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.navbar-custom {
  background-color: #ff5500;
}
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
  text-align: center;
}

a.article-title:hover {
  color: #428bca;
  text-align: center;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

ul.comments {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
  margin-left: 32px;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
  border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
  background-color: #f0f0f0;
}
div.comment-date {
  float: right;
}
div.comment-author {
  font-weight: bold;
}
div.comment-thumbnail {
  position: absolute;
}
div.comment-content {
  margin-left: 48px;
  min-height: 48px;
}
div.comment-form {
  margin: 16px 0px 16px 32px;
}
div.pagination {
  width: 100%;
  text-align: right;
  padding: 0px;
  margin: 0px;
}