* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 { 
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0 0 1.15em;
}

nav {
  background-color: rgba(58, 32, 70, 0.8);
  position: relative;
  justify-content: space-between;
  display: flex;
}

nav ul {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 14px 16px;
}

nav a:hover {
  background-color: peachpuff;
}

ul.drop-menu li {
    display: none;
    list-style: none;
}

li:hover > ul.drop-menu li {
    display: flex;
}

li > ul.drop-menu {
    position: absolute;
    display: flex;
    left: 0;
    top: 100%;
    width: 100%;
}

.card {
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 7px;
  background-color: whitesmoke;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.button {
  text-decoration: none;
  background-color: rgb(58, 33, 70);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}

.profile-img {
  border-radius: 50%;
  height: auto;
  width: 50px;
}

