{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    {% if current_user.can(Permission.WRITE) %}
    <div class="content">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form">
                    {{ form.category.label }}
                    {% if form.category.errors %}
                        {{ form.category }}
                        <div>
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category }}
                    {% endif %}
                </div>
                <div class="form">
                    {{ form.title.label }}
                    {% if form.title.errors %}
                        {{ form.title }}
                        <div>
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title }}
                    {% endif %}
                </div>
                <div class="form">
                    {{ form.body.label }}
                    {% if form.body.errors %}
                        {{ form.body }}
                        <div>
                            {% for error in form.body.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.body }}
                    {% endif %}
                </div>
                <div class="form">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
